/* Agenda */

.row {
    width: calc(100% - 1rem);
    padding: 10px;
    line-height: 2em;
    border-bottom: 1px solid rgb(200, 200, 200);
}
.agenda-grid {
    display: grid;
    grid-template-columns: 20% 25% 40% 15%;
}
.btn-agenda {
    float: right;
    text-decoration: none;
    padding: 0px 5px;
    color: inherit;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: .2s;
}
