/*--CARD--*/


.spectacles-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 300px;
    height: 400px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: .4s;
    overflow: hidden;
}
.card img {
    opacity: 0.9;
    transition: 0.4s;
}
.content {
    position: absolute;
    margin-top: -160px;
    padding: 20px;
    width: 300px;
    height: 150px;
    overflow: hidden;
    transition: 0.4s;
}
.content .text-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.content .title-card {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.content .card-text {
    margin: 2px;
    opacity: 0;
    font-size: 14px;
    transition: .6s;
}
.content p {
    margin: 10px;
}
.content .btn-card {
    margin-top: 30px;
    transition: .6s;
}
.content .btn-card a {
    padding: 10px 20px;
    text-decoration: none;
    color: inherit;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

/* Hover */

.content .btn-card a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .9);
}
.card:hover .content {
    height: 380px;
    margin-top: -400px;
}
.card:hover .content .btn-card, .card:hover .content .card-text {
    opacity: 1;
}
.card:hover img {
    opacity: 0.3;
}
