/* Contact */

.columns {
    display: grid;
    grid-template-columns: 50% 50%;
    line-height: 2em;
}
.column-left {
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid rgb(49, 49, 49);
}
.column-right {
    padding-left: 20px;
    text-align: left;
}
