.damier {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1200px;
}
.text-damier {
    padding: 30px 50px;
    background-color: rgb(255, 255, 255);
}
.image-damier {
    background-size: cover;
    background-position: center;
}


@media screen and (max-width: 780px) {
    .damier {
        display: block;
        margin: 0 auto;
    }
    .text-damier {
        padding: 10px 15px;
    }
}