.banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img-palavanne {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/banner/banner-palavanne.jpg");
    background-position: center;
    background-size: cover;
}
.img-pourkoapas {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/banner/banner-pkp.jpg");
    background-position: center;
    background-size: cover;
}
.img-cev {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/banner/banner-conte.jpg");
    background-position: top;
    background-size: cover;
}
.img-mouffle {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/banner/banner-la-mouflle.jpg");
    background-position: top;
    background-size: cover;
}
.img-malle {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/banner/banner-palavanne.jpg");
    background-position: center;
    background-size: cover;
}
.img-cratt {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/banner/banner-cratt.jpg");
    background-position: center;
    background-size: cover;
}
.img-fr {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/banner/banner-fabrik-recup.jpg");
    background-position: center;
    background-size: cover;
}
.banner .banner-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}
.banner .presentation-phrase {
    position: relative;
    font-weight: bold;
    text-align: center;
    width: 70%;
    margin-bottom: 5rem;
    color: rgb(255, 255, 255);
}
.banner .catch-phrase {
    font-size: 2.5rem;
    line-height: 1em;
    text-transform: uppercase;
}
.title-project {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.banner .button {
    display: inline;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: .2s;
}
.banner a {
    text-decoration: none;
}
.button .fa-play {
    margin-left: 25px;
    color: rgb(255, 255,255);
    transition: .2s;
}
.button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.button:hover .fa-play {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {

    .img-palavanne {
        background-position: -450px;
    }
    .img-pourkoapas {
        background-position: -850px;
    }
    .img-cev {
        background-position: -700px;
    }
    .img-mouffle {
        background-position: -700px;
    }
    .img-malle {
        background-position: -450px;
    }
    .img-fr {
        background-position: -300px;
    }
}

@media screen and (max-width: 576px) {
    .banner .presentation-phrase {
        width: 90%;
    }
    .banner .catch-phrase {
        font-size: 1.5rem;
        line-height: 1em;
        text-transform: uppercase;
    }
    .title-project {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 2rem;
    }
    .banner .button {
        font-size: 1rem;
    }


    .img-palavanne {
        background-position: 800px;
    }
    .img-pourkoapas {
        background-position: 650px;
    }
    .img-cev {
        background-position: 600px;
    }
    .img-mouffle {
        background-position: 550px;
    }
    .img-malle {
        background-position: 800px;
    }
    .img-fr {
        background-position: -420px;
    }
}