/* Gallerie photo */

.image {
  padding: 6px 2px;
}
.inner-width {
  max-width: 1080px;
}
.column-gallery {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.gallery-section {
  max-width: 1080px;
  margin: 0 auto;
}
.gallery-section .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-section .image {
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
.gallery-section .image img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.gallery-section .image:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 780px) {
  .column-gallery {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
}

@media screen and (max-width: 500px) {
  .column-gallery {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
  }
}
