
.header {
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 13px;
    transition: 0.5s;
    z-index: 100;
}
.background-color {
    color: rgb(31, 31, 31);
    padding: 0 13px 0 13px;
    height: 50px;
    background-color: rgba(31, 31, 31, 0.9);
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.7);
}
.header-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
    padding: 13px;
    float: left;
    color: rgb(250, 250, 250);
    text-decoration: none;
}
.header-nav {
    margin: 0px auto;
    float: right;
}
ul{
    margin: 13px;
}
.header-nav a {
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    padding: 14px 0;
    color: rgb(250, 250, 250);
    text-decoration: none;
    transition: 0.3s;
}
.header-nav li {
    display: inline-block;
}
.image-hamburger {
    float: right;
    margin: 12px;
    width: 35px;
    height: 25px;
    display: none;
    cursor: pointer;
}
.image-close {
    position: absolute;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
}


/* RESPONSIVE */


@media screen and (max-width: 900px) {

    .image-hamburger {
        display: block;
    }
    .header-nav {
        position: fixed;
        padding: 30px;
        width: 300px;
        height: 100vh;
        background: #333;
        right: 0;
        top: 0;
        text-align: center;
        transition: 0.5s;
    }
    .header-title {
        margin-left: 0px;
    }
    .header .header-nav ul {
        padding: 0;
    }   
    .image-close {
        display: block;
        top: 20px;
        right: 25px;
    }
    .header-nav li {
        display: block;
        padding: 40px;
        border-bottom: 1px solid rgb(70, 70,70);
    }
    .header-nav li a:hover {
        background-color: #333;
    }
    .close {
        right: -100%;
    }
}

@media screen and (max-width: 500px) {
    .header-nav {
        position: fixed;
        padding: 30px;
        width: 100%;
        height: 100vh;
    }
}