
.header {
    position: fixed;
    display: grid;
    grid-template-columns: 37% 26% 37%;
    padding: 10px;
    width: 100%;
    transition: 0.5s;
    z-index: 100;
}
.header-nav {
    display: block;
    text-align: center;
}
.header-nav-left ul {
    text-align: right;
}
.header-nav-right ul {
    padding: 0;
    text-align: left;
}
.header-nav-left li {
    display: inline;
    text-align: right;
}
.header-nav-right li {
    display: inline;
    text-align: right;
}
.header-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}
.menu-title {
    text-align: center;
    padding: 15px;
}
.menu-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0 20px;
}
.image-hamburger {
    float: right;
    margin: 12px;
    width: 35px;
    height: 25px;
    display: none;
    cursor: pointer;
}
.image-close {
    position: absolute;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
}
.background-color {
    padding: 0;
    background-color: rgb(70, 70,70);
    box-shadow: 1px 1px 10px 1px rgb(70, 70,70);
}



/* RESPONSIVE */

@media screen and (max-width: 900px) {

    .image-hamburger {
        display: block;
    }
    .header-nav {
        position: fixed;
        padding: 30px;
        width: 300px;
        height: 100vh;
        background: #333;
        right: 0;
        top: 0;
        text-align: center;
        transition: 0.5s;
    }
    .header-title {
        margin-left: 0px;
    }
    .header .header-nav ul {
        padding: 0;
    }   
    .image-close {
        display: block;
        top: 20px;
        right: 25px;
    }
    .header-nav li {
        display: block;
        padding: 40px;
        border-bottom: 1px solid rgb(70, 70,70);
    }
    .header-nav li a:hover {
        background-color: #333;
    }
    .close {
        right: -100%;
    }
}

@media screen and (max-width: 500px) {
    .header-nav {
        position: fixed;
        padding: 30px;
        width: 100%;
        height: 100vh;
    }
}