.menu {
  transition: 0.5s;
}
.circle-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}
.little-circle-center {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: 250px;
  height: 250px;
  line-height: 1.8rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  z-index: 10;
}
.main-title {
  display: block;
  margin: 0;
  font-size: 2rem;
  margin-top: 75px;
}
.icon-click {
  margin-top: 1.5rem;
  margin-left: .6rem;
  width: 2rem;
  opacity: 0;
  animation: appear 3s linear;
  animation-iteration-count: 2;
}
.little-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 50px -20px rgb(0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
}
.little-circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 0;
}
.name-right {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 300px;
  height: 150px;
  font-size: 1.3rem;
  padding-left: 70px;
  transform: translateX(100px);
  transition: .3s;
  visibility: hidden;
  opacity: 0;
}
.name-left {
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: bold;
  width: 300px;
  height: 150px;
  font-size: 1.3rem;
  padding-right: 70px;
  transform: translateX(-320px);
  transition: 0.3s;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
.name-right p {
  margin: 0;
}
.name-left p {
  text-align: right;
  margin: 0;
}
.mane-wrapper {
  display: block;
  overflow: hidden;
}
.description {
  font-size: 1rem;
  font-weight: 400;
}
.description-left {
  font-size: 1rem;
  font-weight: 400;
}
.btn-1 {
  z-index: 1000;
  cursor: pointer;
  transition: 0.5s;
}
.btn-2 {
  transition: 0.5s;
}
.btn-3 {
  background-image: url("../img/round/card-pkp-square.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  transition: 0.5s;
}
.btn-3:hover .name-right {
  opacity: 1;
  visibility: visible;
}
.btn-4 {
  background-image: url("../img/round/card-conte-square.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  transition: 0.5s;
}
.btn-4:hover .name-right {
  opacity: 1;
  visibility: visible;
}
.btn-5 {
  background-image: url("../img/round/card-mouffle-square.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  transition: 0.5s;
}
.btn-5:hover .name-right {
  opacity: 1;
  visibility: visible;
}
.btn-6 {
  transition: 0.5s;
}
.btn-7 {
  background-image: url("../img/round/card-cratt-square.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  transition: 0.5s;
}
.btn-7:hover .name-left {
  opacity: 1;
  visibility: visible;
}
.btn-8 {
  background-image: url("../img/round/card-fabrik-recup-square.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  transition: 0.5s;
}
.btn-8:hover .name-left {
  opacity: 1;
  visibility: visible;
}
.btn-9 {
  background-image: url("../img/round/card-malle-square.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  transition: 0.5s;
}
.btn-9:hover .name-left {
  opacity: 1;
  visibility: visible;
}
.btn-2-translate {
  transform: translate(-75px, -295px);
}
.btn-3-translate {
  transform: translate(85px, -225px);
}
.btn-4-translate {
  transform: translate(145px, -70px);
}
.btn-5-translate {
  transform: translate(85px, 85px);
}
.btn-6-translate {
  transform: translate(-75px, 145px);
}
.btn-7-translate {
  transform: translate(-235px, 85px);
}
.btn-8-translate {
  transform: translate(-295px, -70px);
}
.btn-9-translate {
  transform: translate(-235px, -225px);
}

/* JS INTERACTION */

.hidden {
  display: none;
}
.translate-left {
  transform: translateX(calc(-50% + 160px));
}
.js-link-fabrik,
.js-link-pkp,
.js-link-malle {
  cursor: pointer;
  text-decoration: underline;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
