.wrapper {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: url("../img/couleurs-2.jpg");
  background-position: center;
  background-size: cover;
}
.translate-page-left {
  right: 0 !important;
}
.page-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  right: -100%;
  width: calc(100vw - 320px);
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 50px -20px;
  overflow: auto;
  z-index: 1000;
  transition: 0.5s;
}
.page {
  max-width: 1000px;
  padding: 0 3rem;
}
.section {
  padding: 2rem 0;
}
.title-project {
  display: block;
  font-size: 5rem;
  line-height: 6rem;
  text-align: center;
  margin: 0px;
}
.title-project-cratt, 
.title-project-malle {
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  margin: 0px;
}
.catch-phrase {
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
.title-section-else {
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  margin-top: 0;
}
.title::before, 
.title::after {
  content: "";
  display: block;
  width: 100px;
  height: 0.1rem;
  margin: 0 2rem;
  background-color: #000000;
}
.download-pdf {
  line-height: 2rem;
}
.download-link {
  color: #000000;
  margin-bottom: -.15rem;
}

/* IMAGES */

.img-presentation {
  width: 100%;
  margin-bottom: 1rem;
}
.teaser-img {
  width: 100%;
  margin-bottom: 2rem;
  cursor: pointer;
}
.icon-pdf {
  height: 1rem;
  margin-bottom: -.15rem;
  margin-right: .2rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  border-top: .1rem solid rgb(200, 200, 200);
}
