@media screen and (max-width: 767px) {
  .wrapper {
    background-image: url("../img/background-img/couleurs-small.jpg");
  }

  /* MENU */
  .circle-menu {
    overflow: auto;
  }
  .little-circle {
    box-shadow: none;
  }
  .little-circle-center {
    justify-content: center;
  }
  .little-circle-wrapper {
    width: 100vw;
    height: calc(100vw * 0.4);
  }
  .btn-2 {
    align-items: center;
  }
  .btn-3 {
    background-image: url("../img/card-pkp-800.jpg");
  }
  .btn-4 {
    background-image: url("../img/card-conte-800.jpg");
  }
  .btn-5 {
    background-image: url("../img/card-mouffle-800.jpg");
  }
  .btn-7 {
    background-image: url("../img/card-cratt-800.jpg");
  }
  .btn-8 {
    background-image: url("../img/card-fabrik-recup-800.jpg");
  }
  .btn-9 {
    background-image: url("../img/card-malle-800.jpg");
  }
  .btn-1-translate {
    transform: translate(-50vw, -50vh);
    width: 100vw;
    height: 70px;
    border-radius: 0;
    border-bottom: 0.1rem solid rgb(199, 199, 199);
  }
  .btn-2-translate {
    transform: translate(-50vw, calc(-50vh + 70px));
    width: 100vw;
    height: calc(100vw * 0.4);
    border-radius: 0;
  }
  .btn-3-translate {
    transform: translate(-50vw, calc(calc(-50vh + 70px) + (100vw * 0.4)));
    width: 100vw;
    height: calc(100vw * 0.56);
    border-radius: 0;
  }
  .btn-4-translate {
    transform: translate(
      -50vw,
      calc(calc(-50vh + 70px) + (100vw * 0.4) + (100vw * 0.56))
    );
    width: 100vw;
    height: calc(100vw * 0.56);
    border-radius: 0;
  }
  .btn-5-translate {
    transform: translate(
      -50vw,
      calc(calc(-50vh + 70px) + (100vw * 0.4) + (100vw * 0.56) * 2)
    );
    width: 100vw;
    height: calc(100vw * 0.56);
    border-radius: 0;
  }
  .btn-6-translate {
    transform: translate(
      -50vw,
      calc(calc(-50vh + 70px) + (100vw * 0.4) + (100vw * 0.56) * 6)
    );
    width: 100vw;
    height: calc(100vw * 0.4);
    border-radius: 0;
  }
  .btn-7-translate {
    transform: translate(
      -50vw,
      calc(calc(-50vh + 70px) + (100vw * 0.4) + (100vw * 0.56) * 3)
    );
    width: 100vw;
    height: calc(100vw * 0.56);
    border-radius: 0;
  }
  .btn-8-translate {
    transform: translate(
      -50vw,
      calc(calc(-50vh + 70px) + (100vw * 0.4) + (100vw * 0.56) * 4)
    );
    width: 100vw;
    height: calc(100vw * 0.56);
    border-radius: 0;
  }
  .btn-9-translate {
    transform: translate(
      -50vw,
      calc(calc(-50vh + 70px) + (100vw * 0.4) + (100vw * 0.56) * 5)
    );
    width: 100vw;
    height: calc(100vw * 0.56);
    border-radius: 0;
  }
  .height-responsive {
    height: 60px;
  }
  .main-title {
    width: 300px;
    margin: 0;
  }
  .name-right,
  .name-left {
    width: 100vw;
    height: calc(100vw * 0.56);
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
  
  .name-wrapper {
    height: 3rem;
  }
  .name-left p {
    text-align: center;
  }

  /* RETURN */
  .return {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 0.1rem solid rgb(200, 200, 200);
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    cursor: pointer;
    z-index: 100;
  }
  .return p {
    display: inline-block;
    text-align: center;
    margin: 0;
  }
  .icon-chevron {
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: -3rem;
    background-color: #fff;
  }

  /* PAGE */
  .page-wrapper {
    width: 100vw;
    box-shadow: none;
  }
  .page {
    width: 100%;
    padding: 2rem 1rem;
  }
  .title-project {
    font-size: 2rem;
    line-height: 2rem;
  }
  .title-project-cratt,
  .title-project-malle {
    font-size: 2rem;
    line-height: 2rem;
  }
  .catch-phrase {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: 1.2rem;
  }
  .columns {
    display: block;
    text-align: center;
  }
  .has-text-align-right {
    text-align: center;
  }
  .column-third {
    display: block;
  }
  .column-two-third {
    margin-bottom: 3rem;
  }
  .column-one-third {
    text-align: center;
  }
  .title-infos {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .title {
    font-size: 1.5rem;
  }
  .title::before,
  .title::after {
    display: none;
  }

  /* AGENDA */
  .agenda-grid {
    display: block;
    text-align: center;
    width: 100%;
  }
  .btn-agenda {
    float: none;
    padding: 0.3rem;
  }
  .translate-left {
    transform: translateX(0);
  }
  .youtube-video {
    width: 100vw;
    height: calc(100 * 0.562);
  }

  /* PRESENTATION */
  .columns-presentation {
    grid-template-columns: 40% 60%;
  }
  .padding-left {
    padding-left: 1rem;
  }
  .title-section-else {
    font-size: 2rem;
    line-height: 2rem;
  }
  .year {
    font-size: 1.5rem;
  }
  .columns-presentation .case h3 {
    font-size: 0.9rem;
  }

  /* GALERIE */
  .gallery .gallery-items-pkp,
  .gallery .gallery-items-cev,
  .gallery .gallery-items-mouffle,
  .gallery .gallery-items-cratt,
  .gallery .gallery-items-fr,
  .gallery .gallery-items-malle {
    grid-template-columns: 1fr 1fr;
  }
  .lightbox .lightbox-content .lightbox-img {
    width: 100vw;
    height: 100%;
  }
  .lightbox .lightbox-content .previous-btn {
    left: 0;
  }
  .lightbox .lightbox-content .next-btn {
    right: 0;
  }
}

@media screen and (max-width: 900px) {
  /* PAGE */
  .page {
    width: 100%;
    padding: 2rem 1rem;
  }
  .page-wrapper {
    width: 100vw;
    box-shadow: none;
  }

  /* RETURN */
  .return {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 0.1rem solid rgb(200, 200, 200);
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    cursor: pointer;
    z-index: 100;
  }
  .return p {
    display: inline-block;
    text-align: center;
    margin: 0;
  }
  .icon-chevron {
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: -3rem;
    background-color: #fff;
  }

  /* GALERIE */
  .gallery .gallery-items-pkp,
  .gallery .gallery-items-cev,
  .gallery .gallery-items-mouffle,
  .gallery .gallery-items-cratt,
  .gallery .gallery-items-fr,
  .gallery .gallery-items-malle {
    grid-template-columns: 1fr 1fr;
  }
  .lightbox .lightbox-content .lightbox-img {
    width: 100vw;
    height: 100%;
  }
  .lightbox .lightbox-content .previous-btn {
    left: 0;
  }
  .lightbox .lightbox-content .next-btn {
    right: 0;
  }
  .youtube-video {
    width: 100vw;
    height: calc(100 * 0.562);
  }
}

@media screen and (min-width: 1300px) {
  .little-circle-center {
    width: 250px;
    height: 250px;
  }
  .little-circle {
    font-size: 1.4rem;
    width: 200px;
    height: 200px;
  }
  .little-circle-wrapper {
    width: 200px;
    height: 200px;
  }
  .presentation-btn-wrapper {
    width: 200px;
    height: 200px;
    font-size: 1.3rem;
  }
  .name-right {
    height: 200px;
    width: 450px;
    padding-left: 130px;
  }
  .name-left {
    height: 200px;
    padding-right: 80px;
  }
  .btn-2-translate {
    transform: translate(-100px, -375px);
  }
  .btn-3-translate {
    transform: translate(100px, -300px);
  }
  .btn-4-translate {
    transform: translate(175px, -100px);
  }
  .btn-5-translate {
    transform: translate(100px, 100px);
  }
  .btn-6-translate {
    transform: translate(-100px, 175px);
  }
  .btn-7-translate {
    transform: translate(-300px, 100px);
  }
  .btn-8-translate {
    transform: translate(-375px, -100px);
  }
  .btn-9-translate {
    transform: translate(-300px, -300px);
  }
  .translate-left {
    transform: translateX(calc(-50% + 200px));
  }

  /* TEXT */

  .text-top {
    transform: translate(calc(-50% - 8px), calc(-50% - 150px)) !important;
    background-color: #fff;
  }
  .text-bottom {
    transform: translate(calc(-50% - 8px), calc(-50%));
  }
  .text-top span {
    height: 150px !important;
  }
  .text-bottom span {
    height: 150px !important;
  }

  /* PAGE */
  .page {
    padding: 0;
  }
  .page-wrapper {
    width: calc(100vw - 400px);
  }
}

@media (orientation: landscape) {
  .message {
    visibility: visible;
  }
}