/* Banner */

.banner .img {
    background-image: url("../src/img/banner/banner-palavanne.jpg");
    background-size: cover;
    background-position: center;
}
.banner .presentation-phrase {
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}

/* MAIN */

.section {
    padding: 100px;
    margin: 0 auto;
}
.background-color-white {
    background-color: rgb(255, 255, 255);
}
.background-color-grey {
    background-color: rgb(240, 240, 240);
}
.title-section {
    font-size: 50px;
    text-align: center;
    margin: 0 0 50px 0;
}
.title-sub-section {
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0px;
}

/* Image du damier */

.image-top-right {
    background-image: url("../src/img/pkp-11.jpg");
}
.image-middle-left {
    background-image: url("../src/img/guillaume.jpg");
}
.image-bottom-right {
    background-image: url("../src/img/pkp-5.jpg");
}
