* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.4rem;
    font-size: 16px;
    color: rgb(90, 90, 90);
    font-family: 'Open sans', sans-serif;
    background-color: var(--bg-color);
}

/*--VARIABLES--*/

:root {
    --container: 1400px;
    --bg-color: rgb(240, 240, 240);
    --color: rgb(70, 70, 70);
    --theme-color: rgb(66, 127, 241);
    --duration: 0.4s;
}

/*--MENU--*/

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--color);
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.7);
    font-size: 14px;
    z-index: 5;
}
.header-title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 0 20px;
    padding: 19px;
    float: left;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.header-nav {
    margin: 0px auto;
    float: right;
}
ul{
    padding: 0;
    margin: 18px;
}
.header-nav a {
    font-size: 16px;
    padding: 22px 0px;
    margin: 0 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}
.header a:hover {
    color: rgb(214, 214, 214);
}
.header-nav li {
    display: inline-block;
}
.image-hamburger {
    width: 35px;
    height: 25px;
}
.image-close {
    width: 30px;
    height: 30px;

}
.show-menu-btn, .hide-menu-btn {
    transition: 0.3s;
    cursor: pointer;
    display: none;
    margin-top: 13px;
    margin-right: 25px;
    display: none;
}
.show-menu-btn {
    float: right;
}
#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}



.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 100px 100px 100px;
}


/*--ARCHIVES--*/

.sub-menu {
    position: fixed;
    background-color: var(--bg-color);
    padding: 90px 0 20px 0;
}
.sub-menu a {
    padding: 10px 15px;
    color: var(--color);
    background-color: var(--bg-color);
    text-decoration: none;
    border: 1px solid var(--color);
    border-radius: 5px;
}
.sub-menu a:hover {
    color: rgb(255, 255, 255);
    background-color: var(--color);
    border: 1px solid var(--color);
}
.titre-archives {
    padding-top: 150px;
    font-size: 40px;
    color: var(--color);
}

