/* MAIN */

.container {
    padding: 100px;
    margin: 0 auto;
}
.background-color-white {
    background-color: rgb(255, 255, 255);
}
.background-color-grey {
    background-color: rgb(240, 240, 240);
}
.title-section {
    font-size: 50px;
    text-align: center;
    margin: 0 0 50px 0;
}
.title-sub-section {
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0px;
}

/* Bannière d'accueil */

.banner-img {
    background: url(../src/img/banner/banner-palavanne.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.title {
    position: absolute;
    width: 75%;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 20;
}
.catch-phrase {
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
    line-height: 1em;
}
.block .title .button {
    display: inline-block;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    padding: 20px 40px;
    margin-top: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.5s;
}
.block .title .button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255,255);
}

/* PRESENTATION */

.column-type {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
}
.column-top-left, .column-bottom-right {
    padding: 50px;
    background-color: #fff;
}
.column-top-right {
    background-image: url(../src/img/pkp-2.jpg);
    background-size: cover;
    background-position: center;
}
.column-bottom-left {
    background-image: url(../src/img/pkp-5.jpg);
    background-size: cover;
    background-position: center;
}

/* Spectacles */



/* Bouton réseaux sociaux */

.btn-social-facebook {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px -10px rgb(60, 60, 60);
    margin: 0 10px 0 0;
    border-radius: 50%;
    overflow: hidden;
}
.btn-social-youtube {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px -10px rgb(60, 60, 60);
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
}
.btn-social-facebook i, .btn-social-youtube i {
    color: rgb(90, 90, 90);
    line-height: 50px;
    font-size: 20px;
    margin: 0;
}
.btn-social-facebook:hover, .btn-social-youtube:hover {
    background-color: rgb(250, 250, 250);
}

/* RESPONSIVE */

@media screen and (max-width: 900px) {


    .block .title .catch-phrase {
        font-size: 40px;
    }
    .container {
        padding: 70px 30px;
    }
    .column-type {
        display: block;
    }
    .title-section {
        font-size: 40px;
        line-height: 1em;
        margin: 30px;
    }
    .column-top-left, .column-bottom-right {
        padding: 0px;
    }

    .contact {
        display: block;
    }
   .title-sub-section {
        text-align: center;
    }
    .contact .contact-contain {
        line-height: 1.5em;
        text-align: center;
    }
    .column-left-contact {
        margin-bottom: 50px;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .block .title .catch-phrase {
        line-height: 1.2em;
        font-size: 30px;
    }
    .title-section {
        font-size: 30px;
        text-align: center;
        margin: 0 0 30px 0;
    }
    .title-sub-section {
        text-transform: uppercase;
        margin: 0;
        padding: 10px 0px;
    }
}


.bord img {
    width: 100%;
    margin: 0;
    padding: 0;
}