.banner {
    background: url("../src/img/banner/banner-fabrik-recup.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.presentation-phrase {
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    font-size: 50px;
    text-align: center;
    margin: 0 0 50px 0;
}

.section {
    width: 100%;
    padding: 100px;
}
.sub-title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}
.columns-third {
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 0 auto;
    max-width: 1080px;
}
.column-two-third {
    text-align: right;
    padding: 0 20px 0 0;
    border-right: 1px solid rgb(0, 0, 0);
}
.column-one-third {
    padding: 0 20px;
    line-height: 2em;
}
.column-one-third a {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

/* Infos clés */

.infos {
    max-width: 1080px;
    text-align: center;
    padding: 30px 50px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 auto;
}
.infos .sub-title {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.infos a {
    color: rgb(255, 255, 255);
}

/* Color */

.color-white {
    color: rgb(255, 255, 255);
}

.black {
    background-color: rgb(30, 30, 30);
}

/* Contact */

.columns .border-white {
    border-right: 1px solid rgb(255, 255, 255);
}
.columns .border-black {
    border-right: 1px solid rgb(0, 0, 0);
}