.text-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 8px), calc(-50% - 140px));
  background-color: #fff;
}
.text-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 8px), calc(-50%));
}
.text-top span {
  position: absolute;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  width: 16px;
  height: 140px;
  transform-origin: bottom center;
  transition: 0.3s;
}
.text-bottom span {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 16px;
  height: 140px;
  transform-origin: top center;
  transition: 0.3s;
}

.char1 {
  transform: rotate(-77deg);
}
.char2 {
  transform: rotate(-70deg);
}
.char3 {
  transform: rotate(-63deg);
}
.char4 {
  transform: rotate(-56deg);
}
.char5 {
  transform: rotate(-49deg);
}
.char6 {
  transform: rotate(-42deg);
}
.char7 {
  transform: rotate(-35deg);
}
.char8 {
  transform: rotate(-28deg);
}
.char9 {
  transform: rotate(-21deg);
}
.char10 {
  transform: rotate(-14deg);
}
.char11 {
  transform: rotate(-7deg);
}
.char12 {
  transform: rotate(-0deg);
}
.char13 {
  transform: rotate(7deg);
}
.char14 {
  transform: rotate(14deg);
}
.char15 {
  transform: rotate(21deg);
}
.char16 {
  transform: rotate(28deg);
}
.char17 {
  transform: rotate(35deg);
}
.char18 {
  transform: rotate(42deg);
}
.char19 {
  transform: rotate(49deg);
}
.char20 {
  transform: rotate(56deg);
}
.char21 {
  transform: rotate(63deg);
}
.char22 {
  transform: rotate(70deg);
}
.char23 {
  transform: rotate(77deg);
}

.char24 {
  transform: rotate(-73deg);
}
.char25 {
  transform: rotate(-66deg);
}
.char26 {
  transform: rotate(-59deg);
}
.char27 {
  transform: rotate(-52deg);
}
.char28 {
  transform: rotate(-45deg);
}
.char29 {
  transform: rotate(-38deg);
}
.char30 {
  transform: rotate(-31deg);
}
.char31 {
  transform: rotate(-24deg);
}
.char32 {
  transform: rotate(-19deg);
}
.char33 {
  transform: rotate(-12deg);
}
.char34 {
  transform: rotate(-5deg);
}
.char35 {
  transform: rotate(2deg);
}
.char36 {
  transform: rotate(10deg);
}
.char37 {
  transform: rotate(17deg);
}
.char38 {
  transform: rotate(24deg);
}
.char39 {
  transform: rotate(31deg);
}
.char40 {
  transform: rotate(38deg);
}
.char41 {
  transform: rotate(45deg);
}
.char42 {
  transform: rotate(52deg);
}
.char43 {
  transform: rotate(59deg);
}
.char44 {
  transform: rotate(66deg);
}
.char45 {
  transform: rotate(73deg);
}
.letter-top-disapear {
  height: 0 !important;
  transform: translateY(125px);
}
.letter-bottom-disapear {
  height: 0 !important;
}