* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lora', serif;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}










/*--VARIABLES--*/

:root {
    --container: 1000px;
    --color: #252525;
    --duration: 0.4s;
}










h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: var(--color);
    text-align: center;
    margin: 0;
    padding: 70px 0px 50px 0px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 20px 0px 20px 0px;
}
hr{
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    border: none;
}










/*--MENU--*/


.header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.9);
    font-size: 14px;
    z-index: 5;
}
.header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0 0 0 20px;
    padding: 13px;
    float: left;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.header-nav {
    font-family: 'Montserrat', sans-serif;
    margin: 0px auto;
    float: right;
}
ul{
    padding: 0;
    margin: 16px;
}
.header-nav a {
    padding: 15px 0px;
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}
.header a:hover {
    color: rgb(230, 230, 230);
}
.header-nav li {
    display: inline-block;
}
.header hr {
    width: 95%;
}
.image-hamburger {
    width: 35px;
    height: 25px;
}
.image-close {
    width: 30px;
    height: 30px;

}
.show-menu-btn, .hide-menu-btn {
    transition: 0.3s;
    cursor: pointer;
    display: none;
    margin-top: 13px;
    margin-right: 25px;
    display: none;
}
.show-menu-btn {
    float: right;
}
#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}










/*--BANNIÈRE D'ACCUEIL--*/


.block {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}










/*--VAGUE SVG--*/

.wave {
    height: 100px;
    overflow: hidden;
}
.svg {
    height: 100%;
    width: 100%;
}
path {
    stroke: none;
    fill: var(--color);
}










/*--PALAVANNE--*/


.banner-palavanne {
    position: relative;
    left: 0;
    top: 0;
    width: 500%;
    height: 100vh;
    animation: slide 20s infinite;
}
.banner-palavanne img {
    width: 20%;
    float: left;
}
@keyframes slide {
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
.container {
    width: 100%;
    padding-left: calc(50% - var(--container-palavanne)/2);
    padding-right: calc(50% - var(--container-palavanne)/2);
}
.title-section {
    width: 100%;
    height: 200px;
    background-image: url(src/img/coup-de-pinceau.png);
    background-size: cover;
    background-position: center;
}
.pestacles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.column-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.column-left {
    grid-column: 1 / 2;
    text-align: justify;
}
.column-right {
    grid-column: 2 / 2;
    text-align: justify;
}
.one {
    background-color: var(--color);
    padding-bottom: 70px;
}
.two {
    background-color: var(--color);
    padding-bottom: 70px;
}
.three {
    color: rgb(255, 255, 255);
    background-color: var(--color);
    padding-bottom: 70px;
}
.four {
    background-color: var(--color);
}










/*--POURKOAPAS-*/


.banner-pourkoapas::after {
    content: "";
    position: absolute;
    right: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: url(src/img/pkpfront-pinceau.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.title {
    position: absolute;
    width: 50%;
    height: 100px;
    color: rgb(0, 0, 0);
    top: 45%;
    left: 0%;
    background: url(src/img/coup-de-pinceau.png) no-repeat;
    background-size: cover;
    background-position: right;
    transform: translate(-50% -50%);
    text-align: center;
    z-index: 1;
}
.title hr {
    width: 90%;
    background-color: rgb(0, 0, 0);
}
.slogan {
    display: block;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin: 15px;
}
.title-pkp hr {
    width: 90%;
    background-color: rgb(0, 0, 0);
}
.container {
    width: 100%;
    padding-left: calc(50% - var(--container)/2);
    padding-right: calc(50% - var(--container)/2);
}
.teaser {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}
.teaser iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.options {
    padding: 0 10px 10px 10px;
    margin-top: 30px;
    border: 1px solid rgb(255, 255, 255);
}
.references {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}









/*--CONT'EN VOYAGE / MALLE MAGIQUE / FABRIK'RECUP / CA RIME A TOUT TERRIEN / SOLO CORNUTO--*/


.banner-cv {
    width: 100%;
    height: 100vh;
}
.banner-cv::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(src/img/conte.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}
.banner-mm {
    width: 100%;
    height: 100vh;
}
.banner-mm::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(src/img/fabrik-recup.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}
.banner-fr {
    width: 100%;
    height: 100vh;
}
.banner-fr::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(src/img/fabrik-recup.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}
.banner-cratt {
    width: 100%;
    height: 100vh;
}
.banner-cratt::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(src/img/cv/conte-en-voyage-6.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}
.banner-solo {
    width: 100%;
    height: 100vh;
}
.banner-solo::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(src/img/cv/conte-en-voyage-7.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}
.titre-projet {
    position: absolute;
    top: 45%;
    left: 0%;
    transform: translate(-50% -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.phrase-cv {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    margin: 15px;
}
.titre-projet hr {
    width: 50%;
    background-color: rgb(255, 255, 255);
}
.options-cv {
    padding: 0 10px 10px 10px;
    margin-top: 3px;
    border: 1px solid rgb(255, 255, 255);
}










/*--ARCHIVES--*/

.sub-menu {
    position: fixed;
    background-color: var(--color);
    padding: 80px 0 20px 0;
}
.sub-menu a {
    padding: 10px 15px;
    color: var(--color);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid var(--color);
}
.sub-menu a:hover {
    color: rgb(255, 255, 255);
    background-color: var(--color);
    border: 1px solid rgb(255, 255, 255);
}
.titre-archives {
    padding-top: 150px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}










/*--AGENDA--*/

.agenda p {
    padding: 0px 30px;
    margin: 0;
}
.btn-agenda {
    float: right;
    padding: 2px 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    transition: var(--duration);
}
.btn-agenda:hover {
    color: var(--color);
    background-color: rgb(255, 255, 255);
}
.agenda h3 {
    font-size: 16px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 5px;
}
.agenda hr {
    margin-left: 30px;
    width: 77%;
}
.btn-archives {
    text-align: center;
    margin-top: 30px;
}
.btn {
    padding: 5px 10px;
    color: var(--color);
    background-color: rgb(250, 250,250);
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    transition: var(--duration);
}
.btn:hover {
    color: rgb(255, 255, 255);
    background-color: var(--color);
}










/*--CARD--*/

.card {
    width: 300px;
    height: 400px;
    background-color: rgb(0, 0, 0);
}
.card img {
    opacity: 0.9;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
    transition: var(--duration);
}
.content {
    position: absolute;
    margin-top: -160px;
    padding: 20px;
    width: 300px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    transition: var(--duration);
}
.content h2, .content h3 {
    margin: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
}
.content hr {
    margin: 0;
    width: 100%;
}
.btn-card {
    margin-top: 30px;
}
.content .btn-card {
    opacity: 0;
    transition: var(--duration);
}
.content .btn-card a {
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}
.content span {
    margin: 2px;
    opacity: 0;
    transition: var(--duration);
}
.content .btn-card a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.card:hover .content {
    height: 380px;
    margin-top: -400px;
}
.card:hover .content .btn-card, .card:hover .content span {
    opacity: 1;
}

.card:hover .content .btn-card {
    transition-delay: 0.1s;
}
.card:hover img {
    opacity: 0.3;
    box-shadow: 1px 1px 20px 2px rgb(0, 0, 0);
}








/*--GALLERIE PHOTO--*/

.image {
    padding: 4px 0;
}
.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column-cv {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}
.gallery-section .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-section .image {
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.gallery-section .image:hover img {
    transform: scale(1.2);
} 










/*--FORMULAIRE DE CONTACT--*/

.contact-section {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 100%;
}
.contact-form {
    width: 100%;
}
.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background: rgba(0, 136, 255, 0.123);
    padding: 20px 40px;
    outline: none;
    transition: 0.5s;
}
.contact-form-text:focus {
    box-shadow: 0 0 5px 1px rgba(0, 136, 255, 0.651);

}
textarea.contact-form-text{
    resize: none;
    height: 200px;
}
.contact-form-btn {
    float: right;
    border: 0;
    background: rgba(0, 136, 255, 0.13);
    color: var(--color);
    padding: 12px 50px;
    transition: 0.5s;
    cursor: pointer;
}
.contact-form-btn:hover {
    background: var(--color);
    color: rgb(247, 247, 247);
}









/*--FOOTER--*/


.footer {
    display: block;
    text-align: center;
    font-family: 'Montserrat', 'sans serif';
    width: 100%;
    background-color: var(--color);
    padding: 20px;
} 
.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.footer h3 {
    padding-bottom: 10px;
}
.footer .btn-social-facebook {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: var(--color);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px -5px rgb(60, 60, 60);
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}
.footer .btn-social-youtube {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: var(--color);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px -5px rgb(60, 60, 60);
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}
.btn-social-facebook i, .btn-social-youtube i {
    color: var(--color);
    line-height: 50px;
    font-size: 20px;
}
.btn-social-facebook:hover, .btn-social-youtube:hover {
    background-color: rgb(230, 230, 230);
}












/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {

    .fabrik, .references, .contact, .projet {
      display: block;
    }
    .column {
        flex: 100%;
        width: 100%;
    }
    .titre {
        font-size: 20px;
    }
    .texte {
        margin-bottom: 20px;
    }
    .img-projet-inv {
        margin-bottom: 20px;
    }
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }
    .titre-archives {
        padding-top: 220px;
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {

    .container {
        width: 90%;
    }
    body {
        font-size: 14px;
    }
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }
    .header-nav {
        position: fixed;
        padding: 30px;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        transition: 0.5s;
    }
    .image-close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 13px;
    }
    .header-nav li {
        display: block;
        padding: 40px;
        border-bottom: 1px solid rgb(250, 250,250);
    }
    .slogan {
        top: 80%;
        right: 0%;
        width: 100%;
        font-size: 25px;
    }
    .header-nav li a:hover {
        background-color: #333;
    }
    .slogan-titre-background-color-cv {
        font-size: 30px;
    }
    #chk:checked ~ .header-nav {
        right: 0;
    }
}
@media screen and (max-width: 600px) {
    .banner-pourkoapas {
        background-image: url(src/img/pkpfront-600.jpg);
        background-position: top;
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .slogan-cv {
        width: 100%;
        bottom: 5%;
        right: 0%;
    }
}