/* Gallerie photo */

.image {
    padding: 4px 2px;
}
.inner-width {
    max-width: 1200px;
}
.column-gallery {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.gallery-section {
    max-width: 1200px;
    margin: 0 auto;
}
.gallery-section .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-section .image {
    display: flex;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}
.gallery-section .image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.4s;
}
.gallery-section .image:hover img {
    transform: scale(1.2);
} 